*{
    margin: 0;
    padding: 0;
}


.time{
    position: fixed;
    top: 0;
     left: 0;
     
}
.btn{
    position: fixed;
     bottom: 10;
     right: 0;
}
.btn2{
    position: fixed;
     bottom: 10;
     left: 0;
}

.botones{
    
    background-image: url('../img/btn_min.png');
    background-repeat:no-repeat;
    height: 50px;
    width: 50px;
    background-size: 100% 100%;
    background-position:left;
    
}
#myProgress {

    top: 40px;
    left: 90px;
    position: absolute;
    width: 20%;
    height: 30px;
border-radius: 10px;
    background-color: rgb(221, 221, 221);
}
#myBar {

    position: absolute;
    width: 90%;
    height: 100%;
    background-color: rgb(101, 189, 79);
    border-radius: 10px;
}

#player1icon{
    position: absolute;
    top: 8px;
    left: 1px;

}
#myProgress2 {

    top: 40px;
    right: 90px;
    position: absolute;
    width: 20%;
    height: 30px;
border-radius: 10px;
    background-color: rgb(221, 221, 221);
}
#myBar2 {

    position: absolute;
    width: 90%;
    height: 100%;
    background-color: rgb(101, 189, 79);
    border-radius: 10px;
}
#player2icon{
    position: absolute;
    top: 8px;
    right: 1px;
    filter: hue-rotate(200deg);

}

#jugador2{
    display: none;
}

#btn_Music2{
    display: none;
}
#btn_Salir,#btn_Pausa,#btn_Music, #btn_Music2{
    height: 50px;
    width: 50px;
    background: none ;
    border: none;
    font-family:cursive;
    color: rgb(109, 65, 8);
    text-align: center;

}
.botones:hover{
    height:60px;
    width:60px;
  
}
#btn_Salir:hover,#btn_Pausa:hover, #btn_Music:hover, #btn_Music2:hover{
    height:60px;
    width:60px;
}

h1{
    position: absolute;
  
    left: 10px;
    color: white;
    font-family: cursive;
    background-color:  #dbad22;
    box-shadow: inset 0 0 0 3px  rgb(204, 118, 6);
    border-radius: 8px;
    width: 250px;
    font-size: 20px;
    text-align: center;
    
}