

  body {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../img/Background_Login.png);
    background-size: cover;
    background-repeat: repeat;
    animation: animate 1s linear infinite;

  }

  @keyframes animate {
    from{
        background-position: 0;
    }
    to{
        background-position: 100px;
    }
}
h1,h2{
    font-family: cursive;
    animation: abajo 1s ease-in forwards ;
}
.logo{
position: absolute;
animation: abajo 1s ease-in forwards ;
}
  .bg {
    background-color: #ce7323;
    animation: abajo 1s ease-in forwards ;
  }

  .botones{
    background-image: url('../img/BotonesSemillas.png');
    background-repeat:no-repeat;
    height:120px;
    width:230px;
    background-size: 100% 100%;
    background-position:center;
    margin: 0 auto;
    animation: abajo 1s ease-in forwards ;
   
}
#btn_Registro{
    height: 110px;
    width: 210px;
    background: none ;
    border: none;
    font-family:cursive;
    font-size: 180%;
    color: rgb(90, 51, 0);
    text-align: center;

}

#btn_Registro:hover{
    color: rgb(255, 255, 255);
}


@keyframes abajo {
  0%{
      transform: translateY(-50%);
      opacity: 0%;
  }
  100%{
     transform: translateY(0) ;
     opacity: 100%;
  }
}
